@model Restaurant.Models.Menu

@{
    ViewBag.Title = "Details";
    
    string bigImagePath = @Model.Image_info1.Path.ToString().Remove(0,1)+"/"+@Model.Image_info1.Name;
    string smallImagePath = @Model.Image_info.Path.ToString().Remove(0, 1) + "/" + @Model.Image_info.Name;

}

<h2>Details</h2>

<fieldset>
    <legend>Menu</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Menu_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Menu_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Menu_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Menu_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Flavor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Flavor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Is_available)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Is_available)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Is_new)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Is_new)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Is_Activation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Is_Activation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Create_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Create_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modified_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modified_date)
    </div>

    <div class="display-label">
         菜单大图标
    </div>
 @*   <div class="display-field">
        @Html.DisplayFor(model => model.Image_info1.Path)
    </div>*@
    <div style="padding:10px;">
        <img src="@bigImagePath" alt="@Model.Image_info1.Name" width="300" />
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Image_info.Path)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image_info.Path)
    </div>*@
    <div class="display-label">
         菜单小图标
    </div>
    <div style="padding:10px;">
        <img src="@smallImagePath" alt="@Model.Image_info.Name" width="300" />
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
